@font-face {
    font-family: trld;
    src: url(../resources/trld.otf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:#08090C center center;
    font-family: 'Texturina';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top:0;
    background:rgb(26, 29, 39);
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    box-shadow: 0 0 8px grey;
}
#navbar h1 a{
    color:#ff7b1d;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color:#fff;
    margin: 0 1rem;
    padding: 0.35rem;
    border-radius: 5px;
}

#navbar ul li:hover{
    padding: 3px 5px;
    border-radius: 7px;
    background:#ff7b1d ;
}
/*Body*/
.container{
    height: 100vh;
    color:#fff;
    margin-top:-123px;
}
.box {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background:rgb(26, 29, 39);
    padding: 1.6rem 2.5rem;
    border-radius: 10px;
}
.error{
    color: white;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid red;
}
form>h2{
    margin-bottom:20px ;
    color: #ff7b1d;
}

form>input{
    width:250px;
    height: 40px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    border-radius: 50px;
    outline: none;
    border:1px #213B52 solid;
    font-size: 1rem;
    color: #213B52;
    padding: 3px 20px 3px 20px;
}
form>input::placeholder{
    text-align: center;
    font-size: 1rem;
    color: #213B52;
    font-weight: 500;
}

#sub{
    width: 120px;
    height:38px;
    border:none;
    outline:none;
    border-radius:40px;
    cursor:pointer;
    background-color:#ff7b1d;
    color:#fff;
    font-weight: bold;
}

#sub:hover{
    background-color:#ff5100f5;
    color: white;
}

.content-box{
    display: inline-block;
    color: #fff;
    background:rgb(26, 29, 39);
    padding: 0.5rem 2rem;
    margin-top: 50px;
    border-radius:10px;
}
/*footer*/
footer{
    position: absolute;
    bottom:0px;
    width: 100%;
    color: #fff;
    background:rgb(26, 29, 39);
    padding: 20px;
    text-align: center;
    height: 60px;
    box-shadow: 0 0 8px grey;
 }
#pp{
    padding: 0px 20px;
    color: #fff;
}
#tt{
    padding: 0px 20px;
    color: #fff;  
}