.signup{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}
.signup a{
    text-decoration: none;
}
.signup>button{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
}
form{
    margin: 100px auto;
    max-width: 400px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
}
input{
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
}
.header{
    margin: 20px 20px 10px 20px;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}
.subheader{
    margin: 0px 10px 10px 10px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
}
.line{
    width: 80%;
    height: 0px;
    border-top: 1px solid grey;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}